@model Fornecedor
@{
    ViewData["Title"] = "Cadastrar fornecedor";
}

<form asp-controller="Fornecedor" asp-action="Criar" method="post">
    <div class="text-center">
        <h1>Adicionar fornecedor</h1>
    </div>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do fornecedor" maxlength="100">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="mb-3">
        <label for="cnpj" class="form-label">CNPJ</label>
        <input type="text" asp-for="CNPJ" class="form-control" placeholder="Apenas Números" maxlength="14" pattern="[0-9]{14,14}">
        @Html.ValidationMessageFor(x => x.CNPJ)
    </div>

    <div class="form-floating">
        <select class="form-select" asp-for="Especialidade">
            <option selected value="">Selecione uma opção</option>
            <option value="Comércio">Comércio</option>
            <option value="Serviço">Serviço</option>
            <option value="Indústria">Indústria</option>
        </select>
        <label for="floatingSelect">Especialidade</label>
        @Html.ValidationMessageFor(x => x.Especialidade)
    </div>
    <br />
    <button id="rebelde" class="btn btn-primary" type="submit">Adicionar</button>
    <a class=" d-grid gap-2 btn btn-secondary" asp-controller="Fornecedor" asp-action="Index" role="button">Voltar</a>
</form>